.post_content {
    border-radius: 10px;
    background-color: #ffffff;
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px #e1e1e1;
    margin-top: 50px;
}
.post_header {
    margin-bottom: 16px;
}
.post_text {
    font-weight: 0.8em;
    font-weight: 400;
    margin-bottom: 16px;
}
.user_id {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 6px;
}
.date {
    font-size: 0.6em;
    color: #999;
}
.status {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 0.8em;
    margin-top: 16px;
}
.moody_part {
    border-radius: 20px;
    
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    margin-bottom: 5px;
}
.moody_part .symbol {
    margin-right: 10px;
}
.hash_tag {
    /* padding-left: 10px;
    padding-right: 10px; */
    padding: 5px 10px;
    border-width: thin;
    height: 25px;
    border-radius: 15px;
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e4e3e3;
    margin-right: 5px;
    margin-bottom: 5px;
}

.comment_text_field {
    position: relative;
    width: 100%;
}

.clickable_text {
    cursor: pointer;
    color: black;
    text-decoration: underline;
}